/* 全局样式 */
body,
h1,
h2,
dl,
dd,
ul,
p{
    margin: 0;
}
ul{
    padding: 0;
    list-style: none
}
a{
    color:#01477b; 
    text-decoration: none
}
a:hover{text-decoration: underline}
span{
    font-size: 12px;
    color: #01477b;
}
h2{
    font-size: 16px; 
    color: #01477b;
    margin: 20px 0 10px;
    border-bottom: 1px solid #98c5df;
    padding-bottom: 5px;
}

/* wrapper样式 */
.wrapper{
    width: 910px;
    margin: 0 auto
}

.logo {
    /* border: 1px solid #000; */
    overflow: hidden;
    margin: 10px 0
}
.logo h1{float: left}
.logo dl{float: right;}
.logo h1 a{
    display:block;
    width: 217px;
    height: 63px;
    background: url(images/logo.gif) no-repeat ;
    text-indent: -99999px;
}
.logo dl dt{
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}
.logo dl dd{
    font-size: 12px;
    color: #666
}

.nav ul{
    height: 36px;
    background: url(images/navbg.gif);
    padding: 0 30px;
}
.nav ul li{
    float: left;
    padding:0 20px; 
    text-align: center
}
.nav ul li a{
font-size: 14px;
margin-top: 4px;
color: #fff;
font-weight: bold;
line-height: 28px;
}
.nav ul .active a{
    color: #333;
    display: block;
    width: 88px;
    background: url(images/home.gif) no-repeat;
}
.nav ul .Q_Lab{
    float: right;
    margin-right: 0px;
    background: url(images/arrow_r.gif) left no-repeat
}


/* main样式 */
.main{
    overflow: hidden;
    margin-top: 20px;
}

/* main > content */
.content{
    float: left;
    width: 600px;
}
.banner{
    width: 600px;
    height: 200px;
}
.software .text span,
.sidebar .text span{
    float: right;
    font-weight: normal;
}
.software li,
.sidebar .recommend ul li {
    overflow: hidden;
    margin: 15px 0;
    background: url(images/icon_1.gif) no-repeat;
    padding-left:50px
}
.software dd{
    font-size: 14px;
    line-height: 30px
}
.software dl{
    float: left
}
.software dt span{
    margin-left: 10px;
    color: #666;
}
.software li > span,
.sidebar .recommend ul li span{
    float: right;
}
.software .down,
.sidebar .recommend ul li span{
    background: url(images/downicon.gif) no-repeat;
    padding-left: 14px;
    background-position-y: 4px;
}
.software .sw02{background: url(images/icon_2.gif) no-repeat;}
.software .sw03{background: url(images/icon_3.gif) no-repeat;}
.software .sw04{background: url(images/icon_4.gif) no-repeat;}
.software .sw05{background: url(images/icon_5.gif) no-repeat;}
.software .sw06{background: url(images/icon_6.gif) no-repeat;}

/* main > sidebar */
.sidebar{
    float: right;
    width: 280px;
}
.sidebar .news h2,
.sidebar .cooperation h2{
    color: #333;
    margin-top: 0;
}
.sidebar ul li {
    font-size: 12px;
    color: #01477b;
    margin-bottom: 5px;
}
.sidebar ul li span{
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.sidebar .recommend ul li{
    background: url(images/soft_r_1.gif) no-repeat;
    font-size: 12px;
    padding-left: 30px;
}
.sidebar .recommend li span{
    font-weight: normal;
    font-size: 12px;
}
.sidebar .recommend ul .two{
    background: url(images/soft_r_2.gif) no-repeat;
}
.sidebar .recommend ul .three{
    background: url(images/soft_r_3.gif) no-repeat;
}
.sidebar .recommend ul .four{
    background: url(images/soft_r_4.gif) no-repeat;
}
.sidebar .recommend ul .five{
    background: url(images/soft_r_5.gif) no-repeat;
}
.sidebar .recommend ul .six{
    background: url(images/soft_r_6.gif) no-repeat;
}

.sidebar .cooperation{
    margin-top: 20px;
    overflow: hidden;
}
.sidebar .cooperation a{
    font-size: 12px;
    float: left;
    width: 33.3%;
    margin-top: 5px;
}

/* footer样式 */
.footer{
    margin-top: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #666;
    text-align: center;
    background: #f1f1f1;
    border-top: 1px solid #d8d8d8;
    padding: 10px 0 10px;
}